
// COLOR 
$color-primary: #270949;
$color-primary-light: #fff;
$color-primary-dark: #28b485;

$color-secondary: #fff;

$color-grey-light-1: #f7f7f7;

$color-white: #fff;
$color-grey-dark: #777;
$color-black: #000;


// FONT FAMILY
 $font-family: "Montserrat Alternates", sans-serif;

// FONT SIZES
$default-font-size: 1.6rem;

$heading-primary: 6rem;
$heading-secondary: 5rem;
$heading-tertiary: 4rem;

$paragraph: 3rem;

$large-text-font-size: 4.5rem;
$medium-text-font-size: 3.5rem;
$small-text-font-size: 2.5rem;


// GRID 
$grid-width: 200rem;
$gutter-vertical:8rem;
$gutter-vertical-small:4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;